.seal-module.seal-panel.panel.panel-default.large#Main_content_list
  .panel-heading
    %h3.panel-title Call Audits List
  .panel-body
    = form_tag('/call_audit_list/search', :method => :post) do
      .row
        .col-md-2
          %label  CSS :
        .col-md-3
          = select_tag "css", options_for_select(@css.collect{ |u| [u.first_name, u.id]}),:prompt => 'Select CSS', :class => "form-control",:style =>"float:right", :required => true
      %br/
      .row
        .col-md-2
          %label  Time :
        .col-md-3{style:"width:40%"}
          %span{:class=>"change_selects"}
            = date_select("call", "date", order: [:month, :year], prompt: { month: 'Select month', year: 'Select year' },:start_year => 2013,:end_year => 2015 )
      %br/
      .row
        .col-md-2
        .col-md-3
          = submit_tag "Continue", :class=>"btn btn-default btn-sm btn-info pull-right", :id => "submit_to_get_call_list",:style=>"float:left!important;"

